@import "./normalize.css";

ol, ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}

blockquote, body, button, dd, dl, dt, fieldset, h1, h2, h3, h4, h5, h6, hr, html, input, lengend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}

*, :after, :before {
  box-sizing: border-box;
}

